{% load staticfiles %}

<style type="text/css">
  .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }
</style>

<div class="row mt-2">
  <div class="col-md-12 noselect">
      Para: <span class="disabled-color">Leonard Hofstadter</span>
  </div>
</div>
<hr/>
<div class="row mt-2">
  <div class="col-md-12 noselect">
      Asunto: <span class="disabled-color">Buenas noticias</span>
  </div>
</div>
<hr/>

<div class="row mt-2">
  <div class="col-md-12 noselect disabled-color">
      Hola Leonard,<br><br>
      Estoy probando esta nueva app para generar firmas automáticas de correo<br><br>
      Saludos, <br><br>
      Ricardo
  </div>
</div>

<div class="row mt-4">
  <div id="signature-preview" class="col-md-12 noselect disabled-color signature-preview colortext">
      <div>----</div>

      <table>
        <tr>
          <td style="padding: 0 10px 0 0;">
            <img id="image-preview-left" alt="" src="{% static 'img/sheldon.jpeg' %}" width="0px" style="display: none;"></img>
          </td>
          <td style="padding: 0 10px 0 10px; border-style: solid; border-color: blue; border-width: 0 5px 0 5px;">
            <img id="image-preview-top" alt="" src="{% static 'img/sheldon.jpeg' %}" width="0px"></img>

            <div id="contact-preview" class="colorname">
              <strong>
              <span id="name-preview">Sheldon</span>
              <span id="surname-preview">Cooper</span>
              </strong>
            </div>
            <div>
              <span id="position-preview">Físico Teorico</span>
              <span id="department-preview"> | Fisica de Partículas</span>
            </div>
            <div id="company-preview-container"><strong id="company-preview">California Institute of Technology</strong></div>
            <div id="contact">
              <span class="colorname">T: </span><span id="phone-preview">+34.93.685.95.32</span>
              <span class="colorname">M: </span><span id="cell-preview">+34.659.32.36.25</span>
            </div>

            <div id="contact-accounts">
              <span class="colorname">S: </span>
              <span id="skype-preview">s.cooper</span>
              <span>|</span>
              <span class="colorname"> E: </span>
              <span><a id="email-preview" href="mailto:s.cooper@clientify.net" target="_top" class="colortext">s.cooper@clientify.net</a></span>
              <span>|</span>
              <span class="colorname"> W: </span>
              <span><a id="website-preview" href="www.clientify.net" target="_top" class="colortext">www.clientify.net</a></span>
            </div>
            <div id="address-preview-container">
              <span class="colorname">D: </span>
              <span id="address-preview">1200 E California Blvd, Pasadena</span>
            </div>

            <div>
              <a href="#" id="facebook-preview">
                <img alt="Facebook" src="{% static 'img/facebook.png' %}" width="24px"></img>
              </a>
              <a href="#" id="linkedin-preview">
                <img alt="Twitter" src="{% static 'img/linkedin.png' %}" width="24px"></img>
              </a>
              <a href="#" id="twitter-preview">
                <img alt="Twitter" src="{% static 'img/twitter.png' %}" width="24px"></img>
              </a>
              <a href="#" id="instagram-preview">
                <img alt="Twitter" src="{% static 'img/instagram.png' %}" width="24px"></img>
              </a>
              <a href="#" id="whatsapp-preview">
                <img alt="Twitter" src="{% static 'img/whatsapp.png' %}" width="24px"></img>
              </a>
            </div>
          </td>
          <td style="padding: 0 0 0 10px">
            <img id="image-preview-right" alt="" src="{% static 'img/sheldon.jpeg' %}" width="0px"></img>
          </td>
        </tr>
      </table>


  </div>
</div>
