{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Clientify</title>
  <link rel="icon" href="{% static 'img/icon_clientify.png' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap + FontAwesome -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- Font -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />

  <style type=text/css>
    /* Show it is fixed to the top */
    body {
      /*min-height: 75rem;*/
      /*padding-top: 4.5rem;*/
      /* background-color: #f3f3f4; */
      font-family: Lato;
    }

    .nav-tabs .active{
      background-color: #ffffff;
    }
    .nav-tabs :not(.active){
      background-color: #f3f3f4;
      color: #495057;
    }

    .box .content{
      background-color: #ffffff;
      border:1px solid #dee2e6;
    }

    .color-white{
      color: white;
    }

    .scrollable {
        height: 1000px; /* or any value */
        overflow-y: auto;
    }

    .tabs-preview .nav-tabs li a{
      padding:10px 10px 0 10px
    }


  </style>

</head>
<body>

  <section id="title">

    <div class="container-fluid">
      <div class="row bg-dark">
          <div class="col-md-12 text-center">
              <a class="navbar-brand color-white" href="#" style="color:white">Clientify</a>
          </div>
      </div>

      <!-- <div class="row" style="background-color:#007bff">
          <div class="offset-md-1 col-md-11">
            <img src="{% static 'img/id-card.svg' %}">
              <a class="navbar-brand color-white" href="#">Generador de firma digital profesional</a>
          </div>
      </div> -->
    </div>

  </section>


  <section id="content"  class="scrollable">
    <div class="container">
      <h6 class="section-title h1">Generador de Digital Firma</h6>
      <div class="row">



        <!-- First Column -->
        <div class="col-md-6 box shadow">
          <div class="row bg-dark" style="color:white; border-radius: 5px 5px 0  0;">
            <div class="col-md-12 box nav-link">
               Previsualización de tu firma email
            </div>
          </div>

          <div class="row">
            <div class="col-md-12" style="min-height:200px">
              {% include "tabs/preview.html" %}
            </div>
          </div>

          <div class="row text-center mt-4 mb-2">
            <div class="offset-md-1 col-md-10">
              <button class="btn btn-primary btn-block generate-button">Generar Firma</button>
            </div>
          </div>


          <!-- Generated Signature -->
          <div class="row mt-4 generate-signature" style="display:none">
            <div class="col-md-12">
              <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-preview-tab" data-toggle="tab" href="#nav-preview" role="tab" aria-controls="nav-preview" aria-selected="true">Firma</a>
                  <a class="nav-item nav-link" id="nav-html-tab" data-toggle="tab" href="#nav-html" role="tab" aria-controls="nav-html" aria-selected="false">HTML</a>
                </div>
              </nav>
              <div class="tab-content py-3 px-3 px-sm-0 content shadow" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-preview" role="tabpanel" aria-labelledby="nav-preview-tab">
                  <div class="col-md-12">
                    <div id="generated" class="tab-pane" style="min-height:700px">
                      <div class="row text-center mt-1">
                        <div class="offset-md-2 col-md-8">
                          <button id="generated-clipboard-button" class="btn btn-secondary btn-block" disabled>Ya puedes copiar y pegar tu firma</button>
                        </div>
                      </div>
                      <div class="row mt-3">
                        <div id="generated-container" class="col-md-12 colortext"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-html" role="tabpanel" aria-labelledby="nav-design-tab">
                  <div class="col-md-12">
                    <div id="generated-html" class="tab-pane" style="min-height:700px">
                      <div class="row text-center mt-1">
                        <div class="offset-md-2 col-md-8">
                          <button id="generated-clipboard-button" class="btn btn-secondary btn-block">Copiar HTML</button>
                        </div>
                      </div>
                      <div class="row mt-3">
                        <div id="generated-html-container" class="col-md-12"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          </div>

        </div>

      </div>

      <!-- Second Column -->
      <div class="col-md-6 box">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">General</a>
            <a class="nav-item nav-link" id="nav-design-tab" data-toggle="tab" href="#nav-design" role="tab" aria-controls="nav-design" aria-selected="false">Diseño</a>
          </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0 content shadow" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
            <div class="col-md-12">
              {% include "tabs/general.html" %}
            </div>
          </div>
          <div class="tab-pane fade" id="nav-design" role="tabpanel" aria-labelledby="nav-design-tab">
            <div class="col-md-12">
              {% include "tabs/design.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>






    <!-- Footer -->
    <!-- <footer class="page-footer font-small blue pt-1 bg-dark fixed-bottom">
      <div class="footer-copyright text-center py-3 color-white">© 2018 Copyright:
        <a href="https://clientify.net">Clientify.net</a>
      </div>
    </footer> -->
    <!-- Footer -->

</body>

<script type="text/javascript">

  function update_preview() {

    // Fill contents
    $("#name-preview").text(  $("#name-input").val() )
    $("#surname-preview").text(  $("#surname-input").val() )
    $("#position-preview").text(  $("#position-input").val() )
    var department = $("#department-input").val()
    if( department.length > 0 ){
      $("#department-preview").text( " | " +department )
    }else{
      $("#department-preview").text("")
    }
    $("#company-preview").text(  $("#company-input").val() )
    $("#phone-preview").text(  $("#phone-input").val() )
    $("#cell-preview").text(  $("#cell-input").val() )

    var skype = $("#skype-input").val()
    if( skype.length > 0 ){
      $("#skype-preview").text("S:" + skype  )
    }else{
      $("#skype-preview").text("")
    }


    var email = $("#email-input").val()
    if( email.length > 0 ){
      $('#email-preview').attr('href', "mailto:"+email)
      $('#email-preview').text(email)
    }else{
      $("#email-preview").text("")
    }

    var website = $("#website-input").val()
    if( website.length > 0 ){
      $('#website-preview').attr('href', website)
      $('#website-preview').text(website)
    }else{
      $("#website-preview").text("")
    }

    $("#address-preview").text(  $("#address-input").val() )

    // Social
    var item = $("#facebook-input").val()
    if( item.length > 0 ){
      $("#facebook-preview").show()
      $("#facebook-preview").attr('href', item)
    }else{
      $("#facebook-preview").hide()
    }
    item = $("#linkedin-input").val()
    if( item.length > 0 ){
      $("#linkedin-preview").show()
      $("#linkedin-preview").attr('href', item)
    }else{
      $("#linkedin-preview").hide()
    }
    item = $("#twitter-input").val()
    if( item.length > 0 ){
      $("#twitter-preview").show()
      $("#twitter-preview").attr('href', item)
    }else{
      $("#twitter-preview").hide()
    }
    item = $("#instagram-input").val()
    if( item.length > 0 ){
      $("#instagram-preview").show()
      $("#instagram-preview").attr('href', item)
    }else{
      $("#instagram-preview").hide()
    }

    $("#image-preview-top").attr("src", $("#image-input").val());
    $("#image-preview-left").attr("src", $("#image-input").val());
    $("#image-preview-right").attr("src", $("#image-input").val());

  }

  function update_design(){

    $('.signature-preview, #generated-container').css("font-size", $("#font-size-input").val() );
    $('.signature-preview, #generated-container').css("font-family", $("#font-family-input").val() );

    $('.colorname').css("color", $('#colorpickername').val() );
    $('.colortext').css("color", $('#colorpickertext').val() );

    var width = 200;
    switch( $("#image-size-input").val() ){
      case 'small': width = 150;
        break;
      case 'medium': width = 200;
        break;
      case 'large': width = 250;
        break;
    }
    $("#image-preview-left").width(width)
    $("#image-preview-top").width(width)
    $("#image-preview-right").width(width)

    // Image border
    $("#image-preview-top").hide();
    $("#image-preview-top").parent().css('padding', '');
    $("#image-preview-left").hide();
    $("#image-preview-left").parent().css('padding', '');
    $("#image-preview-right").hide();
    $("#image-preview-right").parent().css('padding', '');
    $("#image-preview-top").parent().css('border-color', $('#colorpickername').val());
    switch( $("#image-layout-input").val() ){
      case 'left': $("#image-preview-left").show();
                   $("#image-preview-left").parent().css('padding', '0 10px 0 0');
                   $("#image-preview-top").parent().css('padding', '0 0 0 10px');
                   $("#image-preview-top").parent().css('border-width', '0 0 0 5px');
        break;

      case 'top': $("#image-preview-top").show();
                   $("#image-preview-left").parent().css('padding', '0 0 0 0');
                   $("#image-preview-top").parent().css('padding', '0 0 0 0');
                   $("#image-preview-top").parent().css('border-width', '0 0 0 0');
        break;
      case 'right': $("#image-preview-right").show();
                   $("#image-preview-right").parent().css('padding', '0 0 0 10px');
                   $("#image-preview-top").parent().css('padding', '0 10px 0 0');
                   $("#image-preview-top").parent().css('border-width', '0 5px 0 0');
        break;
    }
  }

  function hide_generate_signature(){
    $(".generate-signature").fadeOut()
  }

  $(document).ready(function(){

    // Generar firma
    $(".generate-signature").hide()
    $(".generate-button").click(function(){

      // Fill content
      var html = $("#signature-preview").html()
      $("#generated-container").html(html)
      $("#generated-html-container").text(html)
      $("#generated-clipboard-button").val(html)

      // Show resource
      $(".generate-signature").fadeIn()

      // Send POST to endpoint
      $.ajax({
          type: "POST",
          url: "/signature/",
          data: JSON.stringify({ name: $("#name-preview").text(),
                                 surname: $("#surname-preview").text(),
                                 email: $("#email-preview").text() }),
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function(data){alert(data);},
          failure: function(errMsg) {
              alert(errMsg);
          }
      });

    })

    // Default values
    $("#colorpickername").spectrum("set", "#666666")
    $("#colorpickertext").spectrum("set", "#8e8e8e")
    update_design()
    // Update preview
    $('.signature-field').on('input', update_preview);
    $('.signature-design').on('change', update_design);

    // Remove when entering new data
    $('.signature-field').on('input', hide_generate_signature);
    $('.signature-design').on('change', hide_generate_signature);



    $('#generated-clipboard-button').click(function(){

      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($("#generated-html-container").text()).select();
      document.execCommand("copy");
      $temp.remove();

    })

  })
</script>


</html>
