<div class="form-group row">
  <label for="example-text-input" class="col-4 col-form-label">Teléfono*</label>
  <div class="col-8">
    <input class="form-control signature-field" type="text" placeholder="+34.93.685.95.32" id="phone-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-search-input" class="col-4 col-form-label">Celular*</label>
  <div class="col-8">
    <input class="form-control signature-field" type="search" placeholder="+34.659.32.36.25" id="cell-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-email-input" class="col-4 col-form-label">Skype*</label>
  <div class="col-8">
    <input class="form-control signature-field" type="email" placeholder="m.bernal@mail.com" id="skype-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-url-input" class="col-4 col-form-label">Dirección</label>
  <div class="col-8">
    <input class="form-control signature-field" type="url" placeholder="https://getbootstrap.com" id="address-input">
  </div>
</div>
