{% load staticfiles %}

<div class="form-group">
  <label for="">Modelo de la firma</label>
  <div class="row">
    <div class="col-md-4 text-center">
      <a className="social-icon"  href="javascript:void(0)">
        <img alt="Linkedin" data-placeholder="https://www.linkedin.com/in/id" src="{% static 'img/horizontal-left.svg' %}"></img>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a className="social-icon"  href="javascript:void(0)">
        <img alt="Linkedin" data-placeholder="https://www.linkedin.com/in/id" src="{% static 'img/horizontal-right.svg' %}"></img>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a className="social-icon"  href="javascript:void(0)">
        <img alt="Linkedin" data-placeholder="https://www.linkedin.com/in/id" src="{% static 'img/vertical.svg' %}"></img>
      </a>
    </div>
  </div>
</div>




<hr/>
