{% load staticfiles %}

<div class="form-group row">
  <label for="name-input" class="col-4 col-form-label">Nombre</label>
  <div class="col-8">
    <input class="form-control signature-field" type="text" placeholder="Sheldon" id="name-input">
  </div>
</div>
<div class="form-group row">
  <label for="name-input" class="col-4 col-form-label">Apellidos</label>
  <div class="col-8">
    <input class="form-control signature-field" type="text" placeholder="Cooper" id="surname-input">
  </div>
</div>
<div class="form-group row">
  <label for="role-input" class="col-4 col-form-label">Cargo</label>
  <div class="col-8">
    <input class="form-control signature-field" type="search" placeholder="Físico Teórico" id="position-input">
  </div>
</div>
<div class="form-group row">
  <label for="department-input" class="col-4 col-form-label">Departamento</label>
  <div class="col-8">
    <input class="form-control signature-field" type="text" placeholder="Física de Partículas" id="department-input">
  </div>
</div>
<div class="form-group row">
  <label for="company-input" class="col-4 col-form-label">Empresa</label>
  <div class="col-8">
    <input class="form-control signature-field" type="text" placeholder="California Institute of Technology" id="company-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input" class="col-4 col-form-label">Teléfono</label>
  <div class="col-8">
    <input class="form-control signature-field" type="text" placeholder="+34.93.685.95.32" id="phone-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-search-input" class="col-4 col-form-label">Móbil</label>
  <div class="col-8">
    <input class="form-control signature-field" type="search" placeholder="+34.659.32.36.25" id="cell-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-email-input" class="col-4 col-form-label">Skype</label>
  <div class="col-8">
    <input class="form-control signature-field" type="email" placeholder="s.cooper" id="skype-input">
  </div>
</div>
<div class="form-group row">
  <label for="email-input" class="col-4 col-form-label">Email</label>
  <div class="col-8">
    <input class="form-control signature-field" type="email" placeholder="s.cooper@clientify.net" id="email-input">
  </div>
</div>
<div class="form-group row">
  <label for="website-input" class="col-4 col-form-label">Sitio Web</label>
  <div class="col-8">
    <input class="form-control signature-field" type="text" placeholder="www.clientify.net" id="website-input">
  </div>
</div>

<div class="form-group row">
  <label for="example-url-input" class="col-4 col-form-label">Dirección</label>
  <div class="col-8">
    <input class="form-control signature-field" type="url" placeholder="1200 E California Blvd, Pasadena" id="address-input">
  </div>
</div>

<div class="form-group">
  <label for="">Link de tu imagen</label>
  <input type="text" class="form-control signature-field" id="image-input" aria-describedby="emailHelp" placeholder="https://clientify.net/image.png">
  <small id="imageHelp" class="form-text text-muted">
    Inserta aquí el link para que tu imagen redireccione tus contactos a tu sitio web o LinkedIn.
  </small>
</div>


<div class="row">
  <div class="col-md-12">
    <label for="">Agregar links</label>
  </div>
</div>

<div class="form-group row">
    <div class="col-md-1">
      <img alt="Facebook" src="{% static 'img/facebook.png' %}" width="24px"></img>
    </div>
    <div class="col-md-11">
      <input class="form-control signature-field" type="text" placeholder="Facebook" id="facebook-input">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1">
      <img alt="Linkedin" src="{% static 'img/linkedin.png' %}" width="24px"></img>
    </div>
    <div class="col-md-11">
      <input class="form-control signature-field" type="text" placeholder="Linkedin" id="linkedin-input">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1">
      <img alt="Twitter" src="{% static 'img/twitter.png' %}" width="24px"></img>
    </div>
    <div class="col-md-11">
      <input class="form-control signature-field" type="text" placeholder="Twitter" id="twitter-input">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1">
      <img alt="Instagram" src="{% static 'img/instagram.png' %}" width="24px"></img>
    </div>
    <div class="col-md-11">
      <input class="form-control signature-field" type="text" placeholder="Instagram" id="instagram-input">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-1">
      <img alt="Instagram" src="{% static 'img/whatsapp.png' %}" width="24px"></img>
    </div>
    <div class="col-md-11">
      <input class="form-control signature-field" type="text" placeholder="Whatsapp" id="whatsapp-input">
    </div>
</div>
