<!-- <div class="form-group">
  <label for="exampleInputEmail1">Ingresa el link de tu foto o logotipo</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="https://suservidor.com/suimagen">
  <small id="emailHelp" class="form-text text-muted"></small>
</div> -->

<div class="form-group">
  <label for="">Link de tu imagen</label>
  <input type="text" class="form-control signature-field" id="image-input" aria-describedby="emailHelp" placeholder="https://clientify.net/image.png">
  <small id="imageHelp" class="form-text text-muted">
    Inserta aquí el link para que tu imagen redireccione tus contactos a tu sitio web o LinkedIn.
  </small>
</div>
