{% load staticfiles %}

<style type="text/css">
  .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }
</style>

<div class="row mt-2">
  <div class="col-md-12 noselect">
      Para: <span class="disabled-color">Manuel Bernal</span>
  </div>
</div>
<hr/>
<div class="row mt-2">
  <div class="col-md-12 noselect">
      Asunto: <span class="disabled-color">Buenas noticias</span>
  </div>
</div>
<hr/>

<div class="row mt-2">
  <div class="col-md-12 noselect disabled-color">
      Hola Ricardo,<br><br>
      Estoy probando esta nueva app para generar firmas automáticas de correo<br><br>
      Saludos, <br><br>
      Ricardo
  </div>
</div>

<div class="row mt-4">
  <div id="signature-preview" class="col-md-12 noselect disabled-color signature-preview colortext">
      <div>----</div>

      <table>
        <tr>
          <td>
            <img id="image-preview-left" alt="" src="{% static 'img/tintin.png' %}" width="50px"></img>
          </td>
          <td>
            <div id="social">
              <img id="image-preview-top" alt="" src="{% static 'img/tintin.png' %}" width="50px"></img>
            </div>

            <div id="contact-preview" class="colorname">
              <strong>
              <span id="name-preview">Manuel</span>
              <span id="surname-preview">Carmena</span>
              </strong>
            </div>
            <div>
              <span id="position-preview">Senior Manager</span>
              <span id="department-preview"> | Ventas Internacionales</span>
            </div>
            <div id="company-preview">Clientify</div>
            <div id="contact">
              <span>Telefono: </span><span id="phone-preview">+34.93.685.95.32</span>
              <span>Mobil: </span><span id="cell-preview">+34.659.32.36.25</span>
            </div>

            <div id="contact-accounts">
              <span id="skype-preview">Skype: m.bernal</span>
              <span><a id="email-preview" href="mailto:m.bernal@clientify.net" target="_top" class="colortext">| Email: m.bernal@clientify.net</a></span>
              <span><a id="website-preview" href="www.clientify.net" target="_top" class="colortext">| Web: www.clientify.net</a></span>
            </div>
            <div id="address-preview">C/Muntaner 203</div>

            <div>
              <a href="#" id="facebook-preview">
                <img alt="Facebook" src="{% static 'img/facebook.png' %}" width="24px"></img>
              </a>
              <a href="#" id="linkedin-preview">
                <img alt="Twitter" src="{% static 'img/linkedin.png' %}" width="24px"></img>
              </a>
              <a href="#" id="twitter-preview">
                <img alt="Twitter" src="{% static 'img/twitter.png' %}" width="24px"></img>
              </a>
              <a href="#" id="instagram-preview">
                <img alt="Twitter" src="{% static 'img/instagram.png' %}" width="24px"></img>
              </a>
            </div>
          </td>
          <td>
            <img id="image-preview-right" alt="" src="{% static 'img/tintin.png' %}" width="50px"></img>
          </td>
        </tr>
      </table>


  </div>
</div>
