<style type="text/css">
  .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }
</style>

<div class="row mt-2">
  <div class="col-md-12 noselect">
      Para: <span class="disabled-color">Manuel Bernal</span>
  </div>
</div>
<hr/>
<div class="row mt-2">
  <div class="col-md-12 noselect">
      Asunto: <span class="disabled-color">Buenas noticias</span>
  </div>
</div>
<hr/>

<div class="row mt-2">
  <div class="col-md-12 noselect disabled-color">
      Hola Ricardo,<br><br>
      Estoy probando esta nueva app para generar firmas automáticas de correo<br><br>
      Saludos, <br><br>
      Ricardo
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-12 noselect disabled-color signature-preview">
      <div>----</div>
      <div id="name-preview" class="colorname">Nombre</div>
      <div class="colortext"><span id="position-preview">Cargo</span><span id="department-preview"> | Departamento</span></div>
      <div id="company-preview" class="colortext">Company</div>
      <div id="phone-preview" class="colortext">+34.55.55.55.55</div>
      <div id="cell-preview" class="colortext">+34.55.55.55.55</div>
      <div><span id="skype-preview" class="colortext">m.bernal</span></div>
      <div><a id="email-preview" href="mailto:mail@mail.com" target="_top" class="colortext">m.bernal@mail.com</a></div>
      <div><a id="website-preview" href="www.google.com" target="_top" class="colortext">www.google.com</a></div>
      <div id="address-preview" class="colortext">C/ Calle 100</div>
  </div>
</div>
