{% load staticfiles %}


  <div class="row">
    <div class="col-md-12">
      <label for="">Agregar links</label>
    </div>
  </div>

  <div class="form-group row">
      <div class="col-md-1">
        <img alt="Facebook" src="{% static 'img/facebook.png' %}" width="24px"></img>
      </div>
      <div class="col-md-11">
        <input class="form-control signature-field" type="text" placeholder="Facebook" id="facebook-input">
      </div>
  </div>
  <div class="form-group row">
      <div class="col-md-1">
        <img alt="Linkedin" src="{% static 'img/linkedin.png' %}" width="24px"></img>
      </div>
      <div class="col-md-11">
        <input class="form-control signature-field" type="text" placeholder="Linkedin" id="linkedin-input">
      </div>
  </div>
  <div class="form-group row">
      <div class="col-md-1">
        <img alt="Twitter" src="{% static 'img/twitter.png' %}" width="24px"></img>
      </div>
      <div class="col-md-11">
        <input class="form-control signature-field" type="text" placeholder="Twitter" id="twitter-input">
      </div>
  </div>
  <div class="form-group row">
      <div class="col-md-1">
        <img alt="Instagram" src="{% static 'img/instagram.png' %}" width="24px"></img>
      </div>
      <div class="col-md-11">
        <input class="form-control signature-field" type="text" placeholder="Instagram" id="instagram-input">
      </div>
  </div>
