{% load staticfiles %}

<div class="form-group">
  <label for="exampleInputEmail1">Caption</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  <small id="emailHelp" class="form-text text-muted"></small>
</div>


<hr/>

<div class="form-group">
  <div id="social_sink"></div>
  <label for="exampleInputEmail1">Agregar links y editar orden</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  <small id="emailHelp" class="form-text text-muted"></small>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>


<script type="text/babel">

  class SocialLink extends React.Component {
    render() {

      var imgStyle = {
        marginRight: 5
      };

      return (
      <a className="social-icon"  href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title={this.props.title} style={imgStyle}>
        <img alt="Linkedin" data-placeholder="https://www.linkedin.com/in/id" src={this.props.src} width="24px"></img>
      </a>
      )
    }
  }

    class SocialLinkList extends React.Component {

      constructor(props){
        super(props)
      }

      render() {
        return (
          <div className="form-group">
            <SocialLink src="{% static 'img/facebook.png' %}" title="Facebook"/>
            <SocialLink src="{% static 'img/linkedin.png' %}" title="Linkedin"/>
            <SocialLink src="{% static 'img/instagram.png' %}" title="Instagram"/>
            <SocialLink src="{% static 'img/googleplus.png' %}" title="Googleplus"/>
            <SocialLink src="{% static 'img/youtube.png' %}" title="Youtube"/>
            <SocialLink src="{% static 'img/behance.png' %}" title="Behance"/>
            <SocialLink src="{% static 'img/vimeo.png' %}" title="Vimeo"/>
            <SocialLink src="{% static 'img/pinterest.png' %}" title="Pinterest"/>
            <SocialLink src="{% static 'img/dribble.png' %}" title="Dribble"/>
            <SocialLink src="{% static 'img/github.png' %}" title="GitHub"/>
            <SocialLink src="{% static 'img/stackoverflow.png' %}" title="StackOverflow"/>
            <SocialLink src="{% static 'img/medium.png' %}" title="Medium"/>
            <SocialLink src="{% static 'img/flickr.png' %}" title="Flickr"/>
            <SocialLink src="{% static 'img/wordpress.png' %}" title="Wordpress"/>
          </div>
        )
      }
    }

    // Render Items
    ReactDOM.render( <SocialLinkList />, document.getElementById('social_sink'));
</script>
